# A) UNDERSTANDING OF SERIES _2

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj=pd.Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In the above code ,here we can see that we are getting the array representation of the SERIES.

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj1=pd.Series([1,2,3,4],index=["a","b","c","d"])
obj1

a    1
b    2
c    3
d    4
dtype: int64

If we think of making the index know to you easily for the further use ,we can make your own index as shown in the above code.

In [7]:
obj1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Now extracting the elements or the array by using the index.

In [8]:
obj1["a"]

1

In [9]:
obj1[["a","b","c"]] #understand the concept of using two bug bracket( here we get the ouput in the form of index data frame)

a    1
b    2
c    3
dtype: int64

In [11]:
obj1[obj1>2]            #(filtering an boolean array)

c    3
d    4
dtype: int64

In [13]:
obj1*2                              #(scalar multiplication)

a    2
b    4
c    6
d    8
dtype: int64

In [14]:
np.exp(obj1)              #applying math function using of numpy module.

a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping
of index values to data values.

In [15]:
"b" in obj1     #testing of the presence of index in the givven data frame i.e in this case series.

True

In [16]:
"f" in obj1

False

Now,creating a series from the python dictionary

In [46]:
sdata={"pokhara":3500,"kathmandu":200,"dolakha":2000}
sdata
obj2=pd.Series(sdata)
obj2

pokhara      3500
kathmandu     200
dolakha      2000
dtype: int64

In [9]:
places=["dharan","pokhara","kathmandu","dolakha"]
obj3=pd.Series(sdata,index=places)
obj3

dharan          NaN
pokhara      3500.0
kathmandu     200.0
dolakha      2000.0
dtype: float64

In this case, 3 values found in sdata were placed in the appropriate locations, but since
no value for 'dharan' was found, it appears as NaN (not a number)

**using of isnull and notnull function in the panda module

In [49]:
pd.isnull(obj3)      #we are dealing with the missing data here,it is very important to deal with the missing data.

dharan        True
pokhara      False
kathmandu    False
dolakha      False
dtype: bool

In [50]:
pd.notnull(obj3)

dharan       False
pokhara       True
kathmandu     True
dolakha       True
dtype: bool

In [51]:
obj2+obj3

dharan          NaN
dolakha      4000.0
kathmandu     400.0
pokhara      7000.0
dtype: float64

A critical Series feature for many applications is that it automatically aligns differentlyindexed
data in arithmetic operations:(pokhara is in different index in both series but is able to add the value correctly

In [10]:
obj3

dharan          NaN
pokhara      3500.0
kathmandu     200.0
dolakha      2000.0
dtype: float64

In [13]:
obj3.name="Places"
obj3.index.name="population"
obj3

population
dharan          NaN
pokhara      3500.0
kathmandu     200.0
dolakha      2000.0
Name: Places, dtype: float64

Both the Series object itself and its index have a name attribute,which is shown above by the code above.